<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toodoapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>toodoapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>toodoapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$toodoapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="bdTodoEntidades" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bdtodo.database.windows.net,1433;Initial Catalog=bdtodo;User ID=usertodo@bdtodo;Password=Todo@senha" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApiTodo.Models.bdTodoEntidades, WebApiTodo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bdTodoEntidades-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModeloTodo.csdl|res://*/Models.ModeloTodo.ssdl|res://*/Models.ModeloTodo.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bdtodo.database.windows.net,1433;Initial Catalog=bdtodo;User ID=usertodo@bdtodo;Password=Todo@senha"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>